.deleteBtn {
  height: 53px;
  width: 53px;
  background-color: #ececec;
  border: none;
  margin-right: 12px;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.1s linear;
}

.deleteBtn:hover {
  background-color: #adadad;
}

.deleteBtn:active {
  transform: scale(0.9);
}
