.favoriteBtn {
  height: 53px;
  width: 53px;
  background-color: #ececec;
  border: none;
  margin-right: 12px;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.1s linear;
}

.favoriteBtn:hover {
  background-color: #adadad;
}

.favoriteBtn:active {
  transform: scale(0.9);
}

.favoriteBtnSelected {
  height: 53px;
  width: 53px;
  background-color: #dd377d;
  border: none;
  margin-right: 12px;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.1s linear;
}

.favoriteBtnSelected:hover {
  background-color: #be2f6b;
}

.favoriteBtnSelected:active {
  transform: scale(0.9);
}
